body {
    font-family: 'Jura', sans-serif;
    background-color: rgb(230, 251, 254);
}

header {
    display: flex;
    align-items: center;
}

button {
    background: none;
    border: none;
    outline: none;
    font: inherit;
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem;
}

.week-no {
    list-style-type: none;
    font-weight: bold;
    margin-bottom: 10px;
    color: navy;
}

li {
    line-height: 1.4rem;
}

li:nth-child(n+2) {
    margin-left: 2rem;
}

a {
    color: blue;
    text-decoration: none;
}


/* DARK MODE */

body.dark-mode {
    font-family: 'Jura', sans-serif;
    background-color: #112;
    color: #ddd;
}


li.week-no.dark-mode {
    margin-bottom: 10px;
    color: #ffff00;
}

a.dark-mode {
    color: whitesmoke;
    text-decoration: none;
    border-bottom: 1px solid #800080;
}


@media (max-width: 576px) {
    header {
        justify-content: space-between;
    }
}