body {
    font-family: 'Jura', sans-serif;
    background-color: rgb(230, 251, 254);
}

.week-no {
    list-style-type: none;
    font-weight: bold;
}

li {
    line-height: 1.2rem;
}

li:first-child {
    margin-bottom: 10px;
}

li:nth-child(n+2) {
    margin-left: 2rem;
}