* {
    box-sizing: border-box;
}

header {
    height: 2rem;
    background-color: #444;
    color: whitesmoke;
    width: 100%;
    display: flex;
    padding: 0 4px;
    position: sticky;
    /* sticky doesn't work without coordinates, so -> top:0 */
    top: 0;
}

nav {
    height: 100px;
    background-color: lightgray;
    display: flex;
    padding: 0 4px;
}

header h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0
}

nav h2 {
    font-size: 3rem;
    font-weight: normal;
    font-style: italic;
}

.header-left,
.header-right,
.nav-left,
.nav-right {
    width: 50%;
    display: flex;
}

.header-left,
.nav-left {
    justify-content: flex-start;
    align-items: center;
}

.header-right,
.nav-right {
    justify-content: flex-end;
    align-items: center;
}

.header-right p {
    display: inline-block;
    margin: 0 4px;
    font-size: 1.2rem;
    font-weight: bold;
}


.nav-right p {
    display: inline-block;
    margin: 0 4px;
    font-size: 1.4rem;
}


i {
    position: fixed;
    padding: 6px;
    bottom: 1rem;
    right: 1rem;
    font-size: 2.4rem;
    color: white;
    background-color: #21c021;
    border-radius: 50%;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1.2rem;
        line-height: 2rem;
        margin: 0
    }

    nav h2 {
        font-size: 1.5rem;
        font-weight: normal;
        font-style: italic;
    }

    .header-right p {
        display: inline-block;
        margin: 0 4px;
        font-size: .9rem;
        font-weight: bold;
    }

    .nav-right p {
        display: inline-block;
        margin: 0 4px;
        font-size: 1rem;
    }
}