body {
    font-family: 'Jura', sans-serif;
    margin: 10px 30px;
}

header {
    background-color: lightgray;
    max-width: 300px;
}

ul {
    font-size: 32px;
    list-style-type: '👽';
    list-style-position: inside;
    line-height: 48px;
    padding-left: 0;
}

li {
    text-align: center;
}

li:first-child {
    background-color: black;
    color: white
}