table {
    border-collapse: collapse;
}

th,
table tr:nth-last-child(2) {
    color: white;
    background-color: #3f3f3f;
}

tr:nth-child(even) {
    background-color: lightgray;
}

table:nth-child(odd) {
    background-color: #f0f0f0;
}

tr td:nth-child(2) {
    width: 180px;
}

tr td:nth-child(3) {
    text-align: center;
}

tr td:nth-child(4) {
    text-align: right;
}

tr td:nth-child(5) {
    text-align: right;
}

td,
th {
    padding: 5px;
    border: 1px solid white;
}

.button-row {
    background-color: white;
}

.button-row td {
    color: red;
    border-color: red;
}

tr:last-child td {
    border-width: 0;
}

i {
    padding-left: 5px;
    padding-right: 5px;
}

button {
    background-color: #fd724f;
    color: white;
    border: 0;
    padding: 10px 12px;
    cursor: pointer;
}

button:active {
    scale: 1.05;
}